<div class="client_say"> 

		<h3 class="text-center">What Client say</h3>
	 
			<div class="col-md-4">
				<blockquote>
					<div class="box_aside img-circle">


						<div class="img-circle">
							<svg width="100" height="100">
							  <circle cx="50" cy="50" r="40" stroke="#31b0d5" stroke-width="4" fill="#888" />
							</svg>
						</div>

					</div>
					<div class="box_cnt__no-flow">
						 
						 <h4>There are many variations of passages of Lorem Ipsum available, but the majority  </h4>
						 <cite>Ana</cite>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>

						 
					</div>
				</blockquote> 
			</div>
			<div class="col-md-4">
				<blockquote>
					<div class="box_aside img-circle">
						<div class="img-circle">
							<svg width="100" height="100">
							  <circle cx="50" cy="50" r="40" stroke="#31b0d5" stroke-width="4" fill="#888" />
							</svg>
						</div>
					</div>
					<div class="box_cnt__no-flow">
						 
						  <h4>Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</h4>
						 <cite>Milica</cite>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
				</blockquote> 
			</div>
			<div class="col-md-4">
				<blockquote>
					<div class="box_aside img-circle">
						<div class="img-circle">
							<svg width="100" height="100">
							  <circle cx="50" cy="50" r="40" stroke="#31b0d5" stroke-width="4" fill="#888" />
							</svg>
						</div>
					</div>
					<div class="box_cnt__no-flow">
						 
						 <h4>Have suffered alteration in some form, by injected humour, or randomised words which look even</h4>
						 <cite>Suza</cite>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
				</blockquote> 
			</div>
 </div>
 