<div class="container">
	<div class="panel">
		<div class="panel-header">
			<div class="panel-body">
				 
					<h1> <%= @gig.name %></h1>
					<p><%= @gig.description %></p>
					<p>$ <%= @gig.budget %></p>
					<p><%= @gig.location %></p>

				 
			</div>
		</div>
	</div>
</div>	
	